##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store
proxy_checker/proxyChecker.js
proxy_checker/proxies.txt
proxy_checker/package.json
proxy_checker/package-lock.json
proxy_checker/node_modules/ms/readme.md
proxy_checker/node_modules/ms/package.json
proxy_checker/node_modules/ms/license.md
proxy_checker/node_modules/ms/index.js
proxy_checker/node_modules/mass-proxy-validator/yarn.lock
proxy_checker/node_modules/mass-proxy-validator/README.md
proxy_checker/node_modules/mass-proxy-validator/package.json
proxy_checker/node_modules/mass-proxy-validator/LICENSE
proxy_checker/node_modules/mass-proxy-validator/index.js
proxy_checker/node_modules/mass-proxy-validator/.gitattributes
proxy_checker/node_modules/is-buffer/README.md
proxy_checker/node_modules/is-buffer/package.json
proxy_checker/node_modules/is-buffer/LICENSE
proxy_checker/node_modules/is-buffer/index.js
proxy_checker/node_modules/is-buffer/index.d.ts
proxy_checker/node_modules/follow-redirects/README.md
proxy_checker/node_modules/follow-redirects/package.json
proxy_checker/node_modules/follow-redirects/LICENSE
proxy_checker/node_modules/follow-redirects/index.js
proxy_checker/node_modules/follow-redirects/https.js
proxy_checker/node_modules/follow-redirects/http.js
proxy_checker/node_modules/debug/src/node.js
proxy_checker/node_modules/debug/src/index.js
proxy_checker/node_modules/debug/src/debug.js
proxy_checker/node_modules/debug/src/browser.js
proxy_checker/node_modules/debug/README.md
proxy_checker/node_modules/debug/package.json
proxy_checker/node_modules/debug/node.js
proxy_checker/node_modules/debug/Makefile
proxy_checker/node_modules/debug/LICENSE
proxy_checker/node_modules/debug/karma.conf.js
proxy_checker/node_modules/debug/CHANGELOG.md
proxy_checker/node_modules/debug/.travis.yml
proxy_checker/node_modules/debug/.npmignore
proxy_checker/node_modules/debug/.eslintrc
proxy_checker/node_modules/debug/.coveralls.yml
proxy_checker/node_modules/axios/UPGRADE_GUIDE.md
proxy_checker/node_modules/axios/README.md
proxy_checker/node_modules/axios/package.json
proxy_checker/node_modules/axios/LICENSE
proxy_checker/node_modules/axios/lib/utils.js
proxy_checker/node_modules/axios/lib/helpers/spread.js
proxy_checker/node_modules/axios/lib/helpers/README.md
proxy_checker/node_modules/axios/lib/helpers/parseHeaders.js
proxy_checker/node_modules/axios/lib/helpers/normalizeHeaderName.js
proxy_checker/node_modules/axios/lib/helpers/isURLSameOrigin.js
proxy_checker/node_modules/axios/lib/helpers/isAbsoluteURL.js
proxy_checker/node_modules/axios/lib/helpers/deprecatedMethod.js
proxy_checker/node_modules/axios/lib/helpers/cookies.js
proxy_checker/node_modules/axios/lib/helpers/combineURLs.js
proxy_checker/node_modules/axios/lib/helpers/buildURL.js
proxy_checker/node_modules/axios/lib/helpers/bind.js
proxy_checker/node_modules/axios/lib/defaults.js
proxy_checker/node_modules/axios/lib/core/transformData.js
proxy_checker/node_modules/axios/lib/core/settle.js
proxy_checker/node_modules/axios/lib/core/README.md
proxy_checker/node_modules/axios/lib/core/InterceptorManager.js
proxy_checker/node_modules/axios/lib/core/enhanceError.js
proxy_checker/node_modules/axios/lib/core/dispatchRequest.js
proxy_checker/node_modules/axios/lib/core/createError.js
proxy_checker/node_modules/axios/lib/core/Axios.js
proxy_checker/node_modules/axios/lib/cancel/isCancel.js
proxy_checker/node_modules/axios/lib/cancel/CancelToken.js
proxy_checker/node_modules/axios/lib/cancel/Cancel.js
proxy_checker/node_modules/axios/lib/axios.js
proxy_checker/node_modules/axios/lib/adapters/xhr.js
proxy_checker/node_modules/axios/lib/adapters/README.md
proxy_checker/node_modules/axios/lib/adapters/http.js
proxy_checker/node_modules/axios/index.js
proxy_checker/node_modules/axios/index.d.ts
proxy_checker/node_modules/axios/CHANGELOG.md
proxy_checker/node_modules/.package-lock.json
